$bg-light-dark: #F2F2F2;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
  }

body{
    font-family: 'Roboto', sans-serif;
    background-color: $bg-light-dark;
    text-rendering: optimizeLegibility;
}



#header-area {
    background-color: #F2F2F2;
    h3{
        font-size: 22px;
        line-height: .9;
        text-transform: uppercase;
        color: #00A54F;
        text-shadow: 0.2px 0.2px 3px #00A54F;
        letter-spacing: .5px;
        
    }
    h4{
        font-size: 21px;
        color: #35857C;
    }
    h5 {
        font-size: 22px;
        color: #B8830F;
    }
    }

    #showcase {
        box-shadow: 0.5px 0.5px 8px red;
        background: #000000;
        .dropdown:hover>.dropdown-menu{
            display: block;
            
        }
    }

    #success-22 {
       background: #fff;

        h2 {
            display: inline-block;
            color: #D220FF;
            transition: all .3s;
        }
    }

  
     #carouselPart {
         background: #fff;
         .carousel-item {
             height: 350px;
         }

         .carousel-item-img1{
             background: url('../img/slide-1.jpg');
             background-size: cover;
             background-position: center bottom;
         }
     }

     #messages-mannan {
         
         h2 {
             margin-top: 20px;
             display: inline-block;
             border-bottom: 3px solid red;
             line-height: 60px;
            
         }

         .card {
            
             box-shadow: 2px 2px 12px rgb(226, 140, 212), -2px -2px 12px rgb(226, 140, 212);
         }
     }

     #our-department {
         .card:hover {
            box-shadow: 1px 1px 10px rgb(212, 0, 255), -1px -1px 10px rgb(212, 0, 255);
            transition: all 0.2s ease-in-out;
            }
         
         background: rgba(29, 26, 26, 0.7);
         .col-lg-3 {
             padding-top: 16px;
             
         }
     }

     #footer-part {
         background: #071B4D !important;
         h3 {
             border-left: 2px solid #D220FF;
             padding-left:9px;
             display: inline-flex;
             letter-spacing: 2px;
         }
     }

     #footer-last-area {
         background: #071B4D;
         color: #fff;
     }

     #about-us {
        h2{
            padding-top: 50px;
        }
         min-height: 300px;
         background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../img/mist-mb.jpg');
         background-size: cover;
         background-position: center center;
         background-attachment: fixed;
     }

     #administration {
         p{
             line-height: 3;
         }
         h2{
            padding-top: 55px;
         }
        min-height: 300px;
        background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../img/Administration.jpg');
        background-size: cover;
        background-position:center bottom;
        background-attachment: fixed;
     }

     #administration-section {
         .card {
             margin: auto;
            box-shadow: 2px 2px 15px rgba(179, 142, 142,0.5), -2px -2px 15px
            rgba(179, 142, 142,0.5);
            border: 1px solid rgb(187, 148, 148);
         }
     }

     #admission-section {
        p{
            line-height: 3;
        }
        h2{
           padding-top: 55px;
        }
       min-height: 300px;
       background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../img/admissions-info.jpg');
       background-size: cover;
       background-position: bottom;
       background-attachment: fixed; 
     }

     #admission-procedure {
         img {
            margin-top: -51px;
         }
     }

     #our-gallery {
         h2 {
             text-shadow: 2px 2px 5px rgb(37, 37, 223);
             border-bottom : 3px solid rgb(137, 218, 137);
             line-height: 50px;
             display: inline-block;
         }
         min-height: 300px;
         background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../img/our-gallery.jpeg');
         background-size: cover;
         background-position: center ;
         background-attachment: fixed;
     }

     #cultural-image {
         //background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/culture-img/culture-bg.jpeg');
         background-size: cover;
         background-position: center center;
         background-attachment: fixed;
         
        h2 {
            color: rgb(157, 228, 26);
            line-height: 45px;
            display: inline-flex;
            text-shadow: 1px 1px 5px red;
         }

         .zoom-image {
             margin-top: 20px; 
            overflow: hidden;
            &:hover{
                box-shadow: 1px 1px 15px rgb(137, 214, 37);
                transition: all 0.2s ease-in-out;
            }
            &:hover {
              img {
                transform: scale(1);
                filter: blur(0.3px);
              }
            }
            img {
              transform: scale(1.3);
              transition: all 0.3s ease-in-out;
            }
          }
     }

     #laboratory-image {

        .zoom-image {
            margin-top: 20px; 
           overflow: hidden;
           &:hover{
               box-shadow: 1px 1px 15px rgb(47, 0, 255);
               transition: all 0.2s ease-in-out;
           }
           &:hover {
             img {
               transform: scale(1);
               filter: blur(0.3px);
             }
           }
           img {
             transform: scale(1.3);
             transition: all 0.3s ease-in-out;
           }
         }

         background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('../img/loboratory-img/loboratory-bg.jpeg');
         background-size: cover;
         background-position: top;
     }

    #sports-image {
        .zoom-image {
            overflow: hidden;
            &:hover {
                box-shadow: 1px 1px 15px rgb(47, 0, 255);
                transition: all 0.2s ease-in-out;
            }
        }       
    }


    #study-tour-image {
        .zoom-image {
            overflow: hidden;
           
            &:hover {
           
                transform: rotate(180deg);
                transition: all 0.4s ease-in-out;
                box-shadow: 1px 1px 8px lime;
            }
            &:hover {
                img{
                    transform: rotate(180deg);
                    transition: all 0.3s ease-in-out;
                }
            }
        }
        background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../img/study-tour-img/bg-image.jpeg');
        background-size: cover;
        background-attachment: fixed;
    }


    #others-image {
        box-shadow: 1px 1px 8px lime;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/others-img/bg-image.jpeg');
    background: cover;
        .zoom-image { 
            
            overflow: hidden;
            &:hover {
                transform: rotate(180deg);
                transition: all 0.4s ease-in-out;
                box-shadow: 1px 1px 13px rgb(255, 255, 255);
            }
            &:hover {
                img{
                    transform: rotate(180deg);
                    transition: all 0.3s ease-in-out;
                }
            }

        }
    }


#contact-us {
    .cp {
        margin-top: 45px;
    }
    min-height: 300px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/contact-us.jpeg');
    background-size: cover;
    background-position: 0;

}


#contact-address {
    .card {
      border-radius: 0;
      color: rgb(26, 24, 24);
      box-shadow: 2px 2px 8px rgba(21, 216, 14, 0.2), -2px -2px 8px rgba(21, 216, 14, 0.2);
      background: linear-gradient(rgba(17, 15, 15, 0.7) rgba(0,0,0,0.7)), url('../img/contact-bg.jpg');
      background-size: cover;
    }
  }

  



  #contact-address  {
      input {
          margin-bottom: 15px;
      }
  }

  #cmt-dep {
      background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/computer-lab.jpg');
      min-height: 250px;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
  }


  #electrical-dep {
      background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/electrical-lab.jpg');
      min-height: 250px;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
  }

  #electronic-dep {
      h2 {
          text-shadow: 1px 1px 5px #333;
      }
      background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/electronic-lab.jpg');
      background-size: cover;
      min-height: 250px;
      background-repeat: no-repeat;
      background-position: center;
  }

  #telecommunication-dep {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../img/telecommunications-lab.jpg');
    background-size: cover;
    min-height: 250px;
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
  }

  #civil-dep {
    
      background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../img/civil-lab.jpg');
      background-attachment: fixed;
      background-size: cover;
      min-height: 300px;
      background-position: center;
  }

  #architecture-dep {
    
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../img/architecture-lab.jpg');
    background-attachment: fixed;
    background-size: cover;
    min-height: 300px;
    background-position: top;
}
 
#mechanical-dep {
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../img/machanical-lab.jpg');
    background-attachment: fixed;
    background-size: cover;
    min-height: 300px;
    background-position: top;
}